body {
    font-family: 'Lato', sans-serif;
}
.name {
    position: fixed;
    top: 34%;
    left: 5%;
}
  
.content {
    position: absolute;
    top: 100vh;
    left: 46%;
}  
.footer {
    position: fixed;
    top: 90%;
    left: 5%;
}
.section {
    height: 100vh;
}

.fadeIn {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }

@media (max-width: 992px) {
    .content {
        position: absolute;
        width: 100%;
        left: 0%;
        top: 110vh;
    }
}
@media (max-width: 576px) {

    .name {
        left: 0%;
    }

    .footer {
        left: 0%;
    }

    .display-3 {
        font-size: 2.25rem;
        font-weight: 300;
        line-height: 1.0;
    }
}
